.aboutus__parent{
    width: 100%;
    padding-bottom: 2%;
}

.aboutus__info{
    width: 90%;
    margin: auto;
    
}



.aboutus__services{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width:700px){
    .aboutus__card{
        width: 38%;
        background-color: rgb(232, 233, 234);
        color: black;
        margin: 2%;
        border: none;
        border-radius: 10px;
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutus__card p{
        text-align:left;
    }

    /* .aboutus__card:hover{
        transition: 0.5s;
        opacity: 0.5;
        transform: scale(0.98);
        cursor: pointer;
    } */
    .aboutus__info h1{
        font-size: 10vh;
        text-align: center;
        margin: 1%;
    }
    

}

@media(min-width:700px){
    .aboutus__card{
        width: 30%;
        background-color: rgb(232, 233, 234);
        color: black;
        margin: 0.5%;
        border: none;
        border-radius: 10px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutus__card p{
        text-align: justify;
    }

    /* .aboutus__card:hover{
        transition: 0.5s;
        opacity: 0.5;
        transform: scale(0.98);
        cursor: pointer;
    } */
    .aboutus__card:hover{
        cursor: pointer;
    }
    .aboutus__info h1{
        font-size: 10vh;
        text-align: center;
        margin: 1%;
    }
}








.aboutus__img{
    width: 40%;
    object-fit: contain;
}

