.team__parent{
    width: 100%;
    background-color: rgb(184, 132, 82);
    padding-bottom: 2%;
}
 .team__members{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}  

 

.team__profiles{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width:700px){
    .team__cards{
        width: 45%;
        background-color: rgb(232, 233, 234);
        color: black;
        margin: 1.5%;
        border: none;
        border-radius: 10px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
}

@media(min-width:700px){
    .team__cards{
        width: 20%;
        /* height:30%; */
        background-color: rgb(232, 233, 234);
        color: black;
        margin: 0.5%;
        border: none;
        border-radius: 10px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
}



.team__img{
    width: 20vh;
    object-fit: contain;
}

.team__info{
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5%;
    text-align: justify;
    height: 100%;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    /* transition: 0.5s; */
}

.team__cards:hover > .team__info{
    transition: opacity 0.3s ease, color 0.3s ease;
    opacity: 1;
    cursor: pointer;
}

.team__cards:active{
    transition: 0.3s;
    opacity: 0.9;
}
