.team__parent{
    width: 100%;
    background-color: aliceblue;
    padding-bottom: 2%;
}
 .team__members{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}  

 

.team__profiles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


@media(max-width:700px){
    .team__cards{
        width: 45%;
        
        margin: 2.5%;
        border: none;
        border-radius: 10px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: calc(45% - 20px); 
        background: rgba( 255, 255, 255, 0.25 );
        background: rgba( 240, 223, 223, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}

@media(min-width:700px){
    .team__cards{
        width: 20%;
        /* height:30%; */
       
        
        margin: 1%;
        border: none;
        border-radius: 10px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: calc(30% - 20px);
        background: rgba( 255, 255, 255, 0.25 );
        background: rgba( 240, 223, 223, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

    }
}



.team__img{
    width: 20vh;
    object-fit: contain;
}

.team__info{
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5%;
    text-align: justify;
    height: 100%;
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    /* transition: 0.5s; */
}

.team__cards:hover > .team__info{
    transition: opacity 0.3s ease, color 0.3s ease;
    opacity: 1;
    cursor: pointer;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.57);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); */

    background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.team__cards:active{
    transition: 0.3s;
    opacity: 0.9;
}
